# Default my.cnf for MySQL

[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
transaction_isolation = READ-COMMITTED

# Settings to optimize MySQL server performance
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

# InnoDB settings
innodb_buffer_pool_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 8M
innodb_thread_concurrency = 8
innodb_autoinc_lock_mode = 2

# Replication settings (if you are setting up replication)
# server-id = 1
# log_bin = /var/log/mysql/mysql-bin.log
# binlog_do_db = mydatabase
# relay-log = /var/log/mysql/mysql-relay-bin
# log_slave_updates = 1
# auto-increment-increment = 2
# auto-increment-offset = 1

[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
# log-error=/var/log/mysql/mysqld.log
# nice = 0
# socket=/var/run/mysqld/mysqld.sock

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer = 16M

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysqlhotcopy]
interactive-timeout