<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connect.data.dao.ICommentDao">
    <resultMap id="commentResultMap" type="com.connect.data.entity.Comment">
        <id property="id" column="id"/>
        <result property="postId" column="postId"/>
        <result property="content" column="content"/>
        <result property="createdUser" column="created_user"/>
        <result property="updatedUser" column="updated_user"/>
        <result property="dbCreateTime" column="db_create_time"/>
        <result property="dbModifyTime" column="db_modify_time"/>
    </resultMap>

    <delete id="deleteComment">
        UPDATE comment
        SET `status` = 0,
        updated_user = #{updatedUser, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="createComment" parameterType="com.connect.data.entity.Comment" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO comment(postId, content, created_user, updated_user)
        VALUES (#{postId,jdbcType=BIGINT}, #{content, jdbcType=VARCHAR},
        #{createdUser,jdbcType=VARCHAR}, #{updatedUser,jdbcType=VARCHAR})
    </insert>

    <select id="queryComment" resultMap="commentResultMap">
        SELECT id, postId, content, created_user, updated_user, db_create_time, db_modify_time

        FROM comment
        WHERE 1=1
        <if test="postId != null">
            AND postId = #{postId}
        </if>
        <if test="userId != null and userId != ''">
            AND created_user = #{userId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="queryCommentById" resultMap="commentResultMap">
        SELECT id, postId, content, created_user, updated_user, db_create_time, db_modify_time
        FROM comment WHERE id = #{id}
    </select>

    <select id="commentExisting" resultType="java.lang.Boolean">
        SELECT EXISTS(
        SELECT id
        FROM comment
        WHERE id = #{id,jdbcType=BIGINT}
        )
    </select>

    <update id="updateComment" parameterType="com.connect.data.entity.Comment">
        UPDATE comment
        <trim prefix="set" suffixOverrides=",">
            updated_user = #{updatedUser, jdbcType=VARCHAR},
            <if test="content != null and content != ''">
                content = #{content, jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
</mapper>
