<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connect.data.dao.IFollowDao">
    <resultMap id="followResultMap" type="com.connect.data.entity.Follow">
        <id property="id" column="id"/>
        <result property="followerId" column="followerId"/>
        <result property="followingId" column="followingId"/>
        <result property="status" column="status"/>
        <result property="dbCreateTime" column="db_create_time"/>
        <result property="dbModifyTime" column="db_modify_time"/>
    </resultMap>

    <insert id="createFollow" parameterType="com.connect.data.entity.Follow" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO follow(followerId, followingId, status)
        VALUES (
        #{followerId, jdbcType=VARCHAR},
        #{followingId, jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT}
        )
    </insert>

    <update id="updateFollow" parameterType="com.connect.data.entity.Follow">
        UPDATE follow
        SET status = #{status, jdbcType=TINYINT}
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
    </update>

    <select id="followExisting" resultType="java.lang.Boolean">
        SELECT EXISTS(
        SELECT id
        FROM follow
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
        )
    </select>

    <select id="followExistingWithTargetStatus" resultType="java.lang.Boolean">
        SELECT EXISTS(
        SELECT id
        FROM follow
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
        AND status = #{status, jdbcType=TINYINT}
        )
    </select>

    <select id="countFollower" resultType="java.lang.Integer">
        SELECT COUNT(followerId)
        FROM follow
        WHERE followingId = #{followingId, jdbcType=VARCHAR}
        AND status = 2
    </select>

    <select id="countFollowing" resultType="java.lang.Integer">
        SELECT COUNT(followingId)
        FROM follow
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND status = 2
    </select>

    <select id="queryFollowerIdList" resultType="java.lang.String">
        SELECT followerId

        FROM follow
        WHERE followingId = #{followingId, jdbcType=VARCHAR}
        AND status = 2
    </select>

    <select id="queryPendingIdList" resultType="java.lang.String">
        SELECT followerId

        FROM follow
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND status = 1
    </select>

    <select id="queryFollowingIdList" resultType="java.lang.String">
        SELECT followingId

        FROM follow
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND status = 2
    </select>

    <update id="approve" parameterType="java.lang.String">
        UPDATE follow
        SET status = 2
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
        AND status = 1
    </update>

    <update id="reject" parameterType="java.lang.String">
        UPDATE follow
        SET status = 3
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
        AND status = 1
    </update>

    <update id="reject" parameterType="java.lang.String">
        UPDATE follow
        SET status = 0
        WHERE followerId = #{followerId, jdbcType=VARCHAR}
        AND followingId = #{followingId, jdbcType=VARCHAR}
        AND status = 1
    </update>

    <update id="approveAll" parameterType="java.lang.String">
        UPDATE follow
        SET status = 2
        WHERE followingId = #{followingId, jdbcType=VARCHAR} AND status = 1
    </update>
</mapper>