<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connect.data.dao.IProjectDao">
    <resultMap id="projectResultMap" type="com.connect.data.entity.Project">
        <!-- 映射字段，同理可添加其他字段 -->
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="tags" column="tags" />
        <result property="likesCount" column="likesCount" />
        <result property="viewsCount" column="viewsCount" />
        <result property="version" column="version" />
        <result property="createdUser" column="created_user" />
        <result property="updatedUser" column="updated_user" />
        <result property="dbCreateTime" column="db_create_time" />
        <result property="dbModifyTime" column="db_modify_time" />
    </resultMap>

    <select id="getProjectById" resultMap="projectResultMap">
        SELECT * FROM project WHERE id = #{id}
    </select>

    <select id="getProjectsByUser" resultMap="projectResultMap">
        SELECT * FROM project WHERE created_user = #{createdUser}
    </select>

    <!-- 添加其他操作，如插入、更新、刪除等 -->

</mapper>
