<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connect.data.dao.IStarDao">
    <resultMap id="starResultMap" type="com.connect.data.entity.Star">
        <id property="id" column="id" />
        <result property="userId" column="userId" />
        <result property="targetId" column="targetId" />
        <result property="type" column="type" />
        <result property="dbCreateTime" column="db_create_time" />
    </resultMap>

    <select id="getStarById" resultMap="starResultMap">
        SELECT * FROM star WHERE id = #{id}
    </select>

    <select id="getStarsByUser" resultMap="starResultMap">
        SELECT * FROM star WHERE userId = #{userId}
    </select>

    <select id="getStarsByTypeAndTargetId" resultMap="starResultMap">
        SELECT * FROM star WHERE type = #{type} AND targetId = #{targetId}
    </select>

    <!-- 添加其他操作，如插入、更新、刪除等 -->

</mapper>